body{background-color: #f4eeed;
    font-family: 'Montserrat', sans-serif;}

.banner {
    background: url('banner-image.jpg') no-repeat center center;
    background-size: cover;
}

.servicos h3 {
    font-size: 0.999rem;
    margin-top: 1rem;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
    text-align: center;
}
.services-img{
    border-radius: 7px;
}
.servicos {
    border-bottom: solid 1px #e7e7e7;
    background-image: url('fundo.png');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem no elemento */
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 7%), 0 -1px 2px 0 rgb(0 0 0 / 9%);

}

.quem-sou .galeria .localizacao
    {
        background: linear-gradient(45deg, #ececec, #f0c1af33);
    }

    .bg-dark {
        --bs-bg-opacity: 1;
        background-color: rgb(237 190 174) !important;
    }

    .h2, h2 {
        font-size: 23px;
        color: #ba9a64;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 15px;
        text-align: center;
        color: #4b4b4b;
    }